/**
 * Main custom SCSS
 * Use this folder and file to manage your custom styles.
 */

@import "example";

div.it-brand-wrapper img {
  width: auto !important;
  height: auto !important;
}

.it-footer-main {
  background-color: hsl(0deg 0.6% 58.02%);
} 

.it-header-slim-wrapper {
  background: #09124A;
} 

.it-header-center-wrapper {
  background: #0F1E7D;
}  