/**
 * Main custom SCSS
 * Use this folder and file to manage your custom styles.
 */

@import "example";

div.it-brand-wrapper img {
  width: auto !important;
  height: auto !important;
}

.it-footer-main {
  background-color: #048ea7;
}

.it-header-slim-wrapper {
  background: #048ea7;
}

.it-header-center-wrapper {
  background: #0097b2;
}

.figcaption > a {
  color: white;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  div.it-brand-wrapper img {
    width: 40px !important;
    height: auto;
  }

  .it-brand-title {
    font-size: 1rem !important;
  }
}

#it-block-italiagov-page-title > h1 > span {
  color:#048ea7;
  letter-spacing: -1.2px;
  line-height: 1.25;
  font-size: 40px !important;
}

#block-italiagov-footer > div.row > div:nth-child(2) > h3 > a {
  color: #fff !important;
}

#block-italiagov-logodx1 > div.field.field--type-text-with-summary.field--name-body.field--entity-block-content.field--label-hidden.field--view-mode-full > figure > figcaption > a {
  color: #fff !important;
}

#block-italiagov-logodx2 > div.field.field--type-text-with-summary.field--name-body.field--entity-block-content.field--label-hidden.field--view-mode-full > figure > figcaption > a {
  color: #fff !important;
}

.block-field-blocknodepagebody {
  overflow: auto;
}

/* Correggo il padding degli oggetti omeka nel corpo del testo */

.align-left {
  float: left; /* Mantiene l'allineamento a sinistra */
  margin: 0 15px 15px 0; /* Aggiunge spaziature attorno al contenitore */
}

.align-left img {
  display: block; /* Rimuove eventuali spazi bianchi sotto l'immagine */
  max-width: 100%; /* Rende l'immagine responsiva */
  margin-bottom: 5px; /* Spazio tra immagine e testo */
}

.align-left p {
  margin: 0; /* Rimuove margini indesiderati */
  font-size: 14px; /* Regola la dimensione del font */
  line-height: 1.5; /* Migliora la leggibilità del testo */
  text-align: left; /* Allinea il testo a sinistra */
}

.text-align-right {
  float: right; /* Allinea il contenitore a destra */
  margin: 0 0 15px 15px; /* Aggiunge spaziature attorno al contenitore */
}

.text-align-right img {
  display: block; /* Rimuove eventuali spazi bianchi sotto l'immagine */
  max-width: 100%; /* Rende l'immagine responsiva */
  margin-bottom: 5px; /* Spazio tra immagine e testo */
}

.text-align-right p {
  margin: 0; /* Rimuove margini indesiderati */
  font-size: 14px; /* Regola la dimensione del font */
  line-height: 1.5; /* Migliora la leggibilità del testo */
  text-align: left; /* Mantiene il testo allineato a sinistra */
}

