/**
 * Main custom SCSS
 * Use this folder and file to manage your custom styles.
 */

@import "example";

div.it-brand-wrapper img {
  width: auto !important;
  height: auto !important;
}

.it-footer-main {
  background-color: #b1b1b3;
}

.it-header-slim-wrapper {
  background: #09124A;
}

.it-header-center-wrapper {
  background: #0F1E7D;
}

.figcaption > a {
  color: white;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  div.it-brand-wrapper img {
    width: 40px !important;
    height: auto;
  }

  .it-brand-title {
    font-size: 1rem !important;
  }
}

#it-block-italiagov-page-title > h1 > span {
  color:#0f1e7d;
  letter-spacing: -1.2px;
  line-height: 1.25;
  font-size: 40px !important;
}

#block-italiagov-footer > div.row > div:nth-child(2) > h3 > a {
  color: #fff !important;
}

#block-italiagov-logodx1 > div.field.field--type-text-with-summary.field--name-body.field--entity-block-content.field--label-hidden.field--view-mode-full > figure > figcaption > a {
  color: #fff !important;
}

