{#
/**
 * @file
 * Default theme implementation for omeka resource entity.
 *
 * Available variables:
 * - attributes: Attributes for the marguee tag.
 * - omeka_resource_id: contains the id of omeka resource.
 * - omeka_resource_type: contains the type of omeka resource.
 * - omeka_resource_data: contains the properties of omeka resource.
 * - public_url: The public URL for the media (transformed from API URL).
 *
 * @ingroup themeable
 */
#}
<div{{attributes}}>
  <a class="omeka-resource-wrapper-link" href="{{ public_url|default(omeka_resource_data['o:media'][0]['@id']) }}" target="_blank" rel="noopener noreferrer">
    <img src="{{ omeka_resource_data['thumbnail_display_urls']['medium'] }}" alt="Thumbnail Image">
    <p>{{ omeka_resource_data['o:title'] }}</p>
  </a>
</div>
